torch
torchvision
opencv-python>=4.13.0
numpy
pillow
mediapipe
Flask
Flask-Bootstrap
Flask-Uploads
torchmetrics
pyyaml
transformers
timm
tqdm
torchreid>=0.2.5
scipy
scikit-learn
tensorflow
ultralytics






